@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-['Outfit'] antialiased bg-slate-50 text-slate-900 overflow-hidden;
  }
}

/* Custom scrollbar statique pour panels latéraux */
.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
